<ion-content>
    <div class="heading-title">
        <h1> Tourista App </h1>
        <h2>- Weather - </h2>
        <h3>Check the weather here!</h3>

    </div>
    <!--WEATHER CONTENT-->

    <div class="main-info">

        <img src="assets/weather-partly-cloud.png" alt="sunny pic">
        <h5>Partly Cloud</h5>
        <h1>19°C</h1>


    </div>
    <h4 class="location">Bacolod City, Negros Occidental</h4>
    <div class="other-info ion-padding">

        <ion-card class="ion-padding">
            <div class="info">
                <img src="/assets/weather-rain.png" alt="">
                <h5>Talisay City</h5>

                <h3>Rainy</h3>
            </div>
        </ion-card>
        <ion-card class="ion-padding">
            <div class="info">
                <img src="/assets/weather-sun.png" alt="">
                <h5>Silay City</h5>
                <h3>Sunny</h3>
            </div>
        </ion-card>
        <ion-card class="ion-padding">
            <div class="info">
                <img src="/assets/weather-rain.png" alt="">
                <h5>E.B Magalona</h5>
                <h3>Rainy</h3>
            </div>
        </ion-card>
        <ion-card class="ion-padding">
            <div class="info">
                <img src="/assets/weather-rain.png" alt="">
                <h5>Victorias City</h5>
                <h3>Rainy</h3>
            </div>
        </ion-card>
        <ion-card class="ion-padding">
            <div class="info">
                <img src="/assets/weather-rain.png" alt="">
                <h5>Manapla</h5>
                <h3>Rainy</h3>
            </div>
        </ion-card>
        <ion-card class="ion-padding">
            <div class="info">
                <img src="/assets/weather-thunderstorm.png" alt="">
                <h5>Cadiz City</h5>
                <h3>Thunder Storm</h3>
            </div>
        </ion-card>

    </div>


    <div class="hourly">
        <h3 class="ion-padding-start">
            Sunday, Today

        </h3>
        <div class="hourly-info ion-padding">
            <div class="info">
                <p>Now</p>
                <img src="/assets/weather-sun.png" alt="">
                <p>19°C</p>
            </div>
            <div class="info">
                <p>Monday</p>
                <p>10 AM</p>
                <img src="/assets/weather-sun.png" alt="">
                <p>13°C</p>
            </div>
            <div class="info">
                <p>Tuesday</p>
                <p>11 AM</p>
                <img src="/assets/weather-rain.png" alt="">
                <p>10°C</p>
            </div>
            <div class="info">
                <p>Wednesday</p>
                <p>12 AM</p>
                <img src="/assets/weather-thunderstorm.png" alt="">
                <p>12°C</p>
            </div>
            <div class="info">
                <p>Thursday</p>
                <p>1 PM</p>
                <img src="/assets/weather-rain.png" alt="">
                <p>12°C</p>
            </div>
            <div class="info">
                <p>Friday</p>
                <p>2:39 PM</p>
                <img src="/assets/weather-sun.png" alt="">
                <p>19°C</p>
            </div>
            <div class="info">
                <p>Saturday</p>
                <p>3 PM</p>
                <img src="/assets/weather-partly-cloud.png" alt="">
                <p>19°C</p>
            </div>

        </div>
    </div>

</ion-content>
