<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


<ion-content [fullscreen]="true">
    <div class="heading-title">
        <h1> Tourista App </h1>
        <h2>- Home Page - </h2>
        <h3>Explore the best resort in North Negros Occidental</h3>

    </div>
    <!--Lakawon-->
    <ion-card class="container-lakawon">



        <ion-slides class="slides">
            <ion-slide>

                <img src="assets/lakawon-1.jpg">

            </ion-slide>
            <ion-slide>

                <img src="assets/lakawon-2.jpg">

            </ion-slide>
            <ion-slide>

                <img src="assets/lakawon-3.jpg">

            </ion-slide>

        </ion-slides>

        <ion-card-header>
            <ion-card-title class="title">Lakawon Island</ion-card-title>
            <ion-card-subtitle class="sub">Cadiz City</ion-card-subtitle>
            <ion-card-subtitle class="sub-details">Details:
            </ion-card-subtitle>
            <p>The pure white sand of Lakawon Island Resorts is a haven of peace and relaxation and a place for one to rejuvenate. Lakawon Island Resorts is scattered within 16 hectares offering all the comforts of home available in our spacious accommodations.
                Now under new management, Lakawon Island Resorts is further expanding into a bigger, more luxurious resort right in the heart of Negros.</p>

            <ion-card-subtitle class="sub-details">How to get there
            </ion-card-subtitle>
            <p>1. Head to Bacolod North Bus Terminal. You can go there by taxi (taxis are pretty reliable in multi-cab or Mandalagan multi-cab to North Bus Terminal. Fare is roughly P7 ($0.13).<br> 2. At North Bus Terminal, ride a bus going to Cadiz City,
                Sagay, Toboso or Escalante. Fare is roughly P105 ($2). Travel time is around 1.5 hours. <br>3. Alight at Burgos Public Market. Take note that you may also alight at Brgy. Burgos Stop-Over Terminal or Martisan Crossing, however the Burgos
                Public Market is the nearer to the port. <br>4. At Burgos Public Market, take a tricycle to Cadiz Viejo Port (Lakawon Port). Fare is P120 ($2.28), good for 6 persons. Transit time is about 15 minutes. <br> 5. Register and pay the fees.
                Total fee to Lakawon Island is P310 ($6) per person. You will be provided a voucher.Here's the breakdown of Lakawon Island fees for 2018: <br> • Lakawon Island entrance fee - P140 ($3) per person <br> • Roundtrip boat fee for Lakawon Island
                - P150 ($3) per person <br> • Terminal fee - P20 (0.38) <br> 6. Present your voucher and ride the boat to Lakawon Island Resort. Make sure you register your name because the guard will call you when it's your turn to ride the boat. Travel
                time to Lakawon Island is about 15 minutes.</p>
            <br>
            <!--icons-->
            <div class="wrapper">
                <div class="icon facebook">
                    <div class="tooltip">Facebook</div>
                    <span><a class="fab fa-facebook-f" href="https://www.facebook.com/lakawonislandresort"></a></span>

                </div>

            </div>




        </ion-card-header>
        <div class="star-rating">
            <h3>Ratings:</h3>
            <app-star-rating></app-star-rating>
        </div>


    </ion-card>


    <!--Campuestohan-->
    <ion-card class="container-lakawon">



        <ion-slides class="slides">
            <ion-slide>

                <img src="assets/campuestohan-1.jpeg">

            </ion-slide>
            <ion-slide>

                <img src="assets/campuestohan-2.jpg">

            </ion-slide>
            <ion-slide>

                <img src="assets/campuestohan-3.jpg">

            </ion-slide>

        </ion-slides>

        <ion-card-header>
            <ion-card-title class="title">Campuestohan Resort</ion-card-title>
            <ion-card-subtitle class="sub">Talisay City</ion-card-subtitle>
            <ion-card-subtitle class="sub-details">Details:
            </ion-card-subtitle>
            <p>Campuestohan Highland Resort is a fun-filled tourist destination located between the cities of Bacolod and Talisay in Negros Occidental. The five-hectare highland resort is one of the go-to places not only for Negrenses but also travelers
                from different parts of the country because of its cool temperatures. The view of the Negros Occidental province and even Panay Island will leave nature lovers amazed. Aside from a regular swimming pool, Campuestohan Highland Resort also
                has a four-lane wave pool. The resort also has a variety of rides for thrill-seekers. Apart from the 340-meter zip line, the resort also has a sky bicycle. Tourists can show off their ability to ride a bicycle while suspended mid-air.
                It also has a hang glider zip line, the first of its kind in the Philippines. The resort can accommodate both day-trippers and those who wish to spend a night or two. There are cottages that come at different prices for those who plan
                to stay for only a day in the resort. Those who wish to spend their vacation there can rent the resort’s unique and quirky-looking rooms. </p>

            <ion-card-subtitle class="sub-details">How to get there
            </ion-card-subtitle>
            <p>Option 1<br>
                <br> From Bacolod City, you can ride the resort’s shuttle (a 30-seater Sarao Jeep) located in Imart-Caltex gasoline station right across Lopues East. Fare would be P70 each.
                <br> Here’s the schedule of resort’s shuttle:
                <br> Bacolod to Campuestohan 7:00 AM, 8:00 AM, 9:00 AM, 10:00 AM, 11:00 AM, 1:00 PM, 2:00 PM and 3:00 PM Campuestohan to Bacolod 7:00 AM, 8:00 AM, 9:00 AM, 10:00 AM, 11:00 AM, 1:00 PM, 2:00 PM, 3:00 PM, 4:00 PM, 5:00 PM
                <br><br> Option 2
                <br><br> From Bacolod City, you can ride a taxi or tricycle that will take you directly to Campuestohan but this opt might be costly. <br></p>
            <br>
            <!--icons-->
            <div class="wrapper">
                <div class="icon facebook">
                    <div class="tooltip">Facebook</div>
                    <span><a class="fab fa-facebook-f" href="https://www.facebook.com/CampuestohanHighlandResort"></a></span>

                </div>

            </div>




        </ion-card-header>
        <div class="star-rating">
            <h3>Ratings:</h3>
            <app-star-rating></app-star-rating>
        </div>


    </ion-card>


    <!--Ilaya-->
    <ion-card class="container-lakawon">



        <ion-slides class="slides">
            <ion-slide>

                <img src="assets/Ilaya-1.jpg">

            </ion-slide>
            <ion-slide>

                <img src="assets/ilaya-2.jpg">

            </ion-slide>
            <ion-slide>

                <img src="assets/ilaya-3.jpg">

            </ion-slide>

        </ion-slides>

        <ion-card-header>
            <ion-card-title class="title">Ilaya Highland Resort</ion-card-title>
            <ion-card-subtitle class="sub">Silay City</ion-card-subtitle>
            <ion-card-subtitle class="sub-details">Details:
            </ion-card-subtitle>
            <p>Inhale fresh air and exhale stress as you unwind in this mountain resort. A stay of total relaxation awaits you at Ilaya Highland Resort. Located in the hills of Barangay Patag, Silay City, in Negros Occidental, the resort provides a serene
                and silent retreat. Ilaya Highland Resort readily welcomes guests to its high-class premises and amenities away from the noise and pollution that comes with city living. </p>

            <ion-card-subtitle class="sub-details">How to get there
            </ion-card-subtitle>
            <p>Exact location: Brgy. Patag, Silay City, Negros Occidental.<br><br> BY COMMUTE (FROM BACOLOD):<br> Starting from the Ceres North Terminal, ride a bus bound for Silay City. Alternatively, you can ride a jeepney at the Bacolod North Terminal,
                right across Ceres North Terminal. In either ride, ask the driver/conductor to drop you off at the Patag/Capitan Ramon Terminal beside Prince Hypermarket. From here, ride a jeepney going to Ilaya Highland Resort. The total travel time
                will be around 1.5 to 2 hours, depending on the traffic.
                <br><br>BY CAR: <br>Navigate with Waze or Google Maps and set your destination to “Ilaya Highland Resort” in Negros Occidental. Parking space is available.

            </p>
            <br>
            <!--icons-->
            <div class="wrapper">
                <div class="icon facebook">
                    <div class="tooltip">Facebook</div>
                    <span><a class="fab fa-facebook-f" href="https://www.facebook.com/ilayahighlandresort"></a></span>

                </div>

            </div>




        </ion-card-header>
        <div class="star-rating">
            <h3>Ratings:</h3>
            <app-star-rating></app-star-rating>
        </div>


    </ion-card>


    <br><br><br>
    <br><br>
</ion-content>
